<html>
<head>
<style>
.off{
background-position: -65px -67px;
width: 225px;
height: 225px;
}
.gear{
background-position: -338px -69px;
width: 102px;
height: 102px;
}
.question{
background-position: -493px -112px;
width: 122px;
height: 122px;
}
</style>
</head>
</html>